@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* % REGRAS GERAIS */

:root {
  --texto: unset;
  --azul: #0063B1;
  --fundo1: #f6f6f6;
  --fundo2: rgba(255,255,255,0.6);
  --fundo3: white;
  --bg:url("../imgs/lightbg.jpg");
  --shadow: 1px 1px 25px rgba(100,100,100,0.3);
}

@media screen and (prefers-color-scheme: dark) {
  :root{
  --texto: #fafafa;
  --azul: #6ABCFD;
  --fundo1: #2a2a2a;
  --fundo2: rgba(56,56,61,0.75);
  --fundo3: rgba(56,56,61,1);
  --bg: url("../imgs/darkbg.jpg");
  --shadow: 0px 0px 25px rgba(15, 15, 15, 0.65);
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI Variable Display", "Segoe UI", 'Open Sans', sans;
  color: var(--texto);
  background-attachment: fixed;  
  background-color: var(--fundo1);
  background-image: var(--bg);
  display: grid;
  grid-template-columns: 15vw 80vw;
  padding: 10px;
}

a:hover, li:hover {
  color: var(--azul);
}

/* % POSICIONAMENTO e TAMANHOS */

header {
  /* background-color: aquamarine; */
  height: 100vh;
  z-index: 1;
}

header h1 {
  /* background: red; */
  position: fixed;
  top: 50px;
  left: 2vw;
  width: 10vw;
}

main {
  /* background-color: yellow; */
  z-index: 1;
}

aside {
  display: none;
}

#fav {
	height: 120px;
  width: 100%;
	margin-bottom: 50px;
}

#list-fav {
	display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 1vw;
}

#list-fav div {
  border-radius: 18px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1vh;
  background-color: var(--fundo2);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1vw;
  grid-row-gap: 20px;
}

article {
  padding: 0% 7% 5% 5%;
  border-radius: 12px;
  background-color: var(--fundo2);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

footer {
  position: fixed;
  bottom: 2vh;
  left: 1.1vw;
}

/*% GRID */

#const, #civil {
  grid-row: 1/span 2; /* começa na linha 1 e toma 2 linhas*/
}

#adm {
  grid-row: 3/ span 3;
  grid-column-start: 1;
}

#penal {
  grid-row: 3 / span 2;
  grid-column-start: 2;
}

#trib {
  grid-row: 3;
}

#outros {
  grid-row: 7/9;
  grid-column: 2/ span 2;
}

#outros ul {
  float: left;
}

/*% TEXTO */

a {
  text-decoration: none;
  color: inherit;
}

header h1 {
  font-weight: 400;
  font-size: 3em;
}

li {
  list-style: none;
  font-size: 11pt;
}

#list-fav div {
  text-align: center;
  font-size: 11pt;
}

article li {
  line-height: 1.37;
  margin-bottom: 0.8em;
}

h2 {
  font-weight: 400;
  color: var(--azul);
}

@media only screen and (max-width: 1200px) {
  body{
    grid-template-columns: 1fr;
  }
  
  header {
    height: unset;
  }
  
  header h1 {
    position: unset;
    width: 100%;
    text-align: center;
    color: var(--azul);
  }
  
  section {
    grid-template-columns: repeat(2, 1fr)
  }
}

@media only screen and (max-width: 1025px) {
  #fav {
    height: 220px;
  }
  
  #list-fav{
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 12px;
  }

  section {
    grid-template-columns: repeat(2, 1fr);
  }
  #const, #civil {
    grid-row: 1;
  }

  #adm {
    grid-row: unset;
    grid-column-start: unset;
  }
  
  #penal {
    grid-row: unset;
    grid-column-start: unset;
  }
  
  #trib {
    grid-row: unset;
  }
  
  #outros {
    grid-row: unset;
    grid-column: unset;
  }
  
  #outros ul {
    float: initial;
  }
}

@media only screen and (max-width: 500px) {
  body {
    grid-template-columns: 1fr; /*grid com uma coluna só*/
  }

  header {
    grid-row-start: 1;
  }

  #list-fav{
    height: unset;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1vw;
  }
  
  section {
    grid-template-columns: 1fr;
  }
  #const {
    grid-row: 1;
    grid-column: 1;
  }

  #civil {
    grid-column: 1;
    grid-row: 2;
  }
  
  #consumidor {
    grid-column: 1;
    grid-row: 3;
  }
  
  #jecc {
    grid-column: 1;
    grid-row: 4;
  }

  #penal {
    grid-column: 1;
    grid-row: 5;
  }

  #adm {
    grid-row: 6;
    grid-column-start: 1;
  }

  #trib {
    grid-column: 1;
    grid-row: 7;
  }
  
  #trab {
    grid-column: 1;
    grid-row: 8;
  }
  
  #oab {
    grid-column: 1;
    grid-row: 9;
  }

  #empresarial {
    grid-column: 1;
    grid-row: 10;
  }

  #militar {
    grid-column: 1;
    grid-row: 11;
  }

  #prev {
    grid-column: 1;
    grid-row: 12;
  }
  
  #eleitoral {
    grid-column: 1;
    grid-row: 13;
  }

  #ambiental {
    grid-column: 1;
    grid-row: 14;
  }

  #estadual {
    grid-column: 1;
    grid-row: 15;
  }

  #outros {
    grid-row: 16;
    grid-column: 1;
  }

  #outros ul {
    float: initial;
  }

  main {
    margin-bottom: 3rem;
  }

  #copyright {
    color: #999;
    left: 4vw;
  }

}