article {
  transition: all ease-in 0.3s;
  transition-delay: .5s;
}

a, li, .item-fav {
  transition: all ease-in 0.3s;
}

article:hover, .item-fav:hover {
  background-color: var(--fundo3);
  box-shadow: var(--shadow);
}

#corpo:hover article:not(:hover), 
#list-fav:hover .item-fav:not(:hover){
  opacity: .6;
  filter: brightness(.9);
  filter: blur(1px);
  filter: saturate(.6);
}