table {
	border: 1px solid var(--azul1);
    border-collapse: collapse;
	margin: 15px auto;
    width: 100%;
}

p.legtab {
	text-align: center;
}

table caption {
	color:white;
	font-size: 15pt;
	font-weight: bold;
	text-transform: uppercase;
	background-color: var(--azul1);
	border: 0px solid var(--azul1);
	text-align: center;
	padding: 5px 0px;
}

tr:nth-child(even) {
	background-color: var(--cinza1);
}

table td, th {
	padding: 7px;
	text-align: center;
	font-size: 13pt;
	vertical-align: center;
	text-align: justify;
}

th {
	font-weight: 600;
	padding-top: 25px;
	vertical-align: bottom;
    color: white;
    background-color: var(--azul1);
}