@import url('./lei-painel-lateral.css');

/* % ANIMAÇÕES */
@keyframes entrada1 {
  from {top: 800px; opacity: 0;}
  to {top: 15px; opacity: 1;}
}

@keyframes entrada2 {
	from {top: -80px;}
	to {top: 15px;}
}

/* % VARIÁVEIS */

:root{
	/* cores */
	--fundo1: #f2f2f2;
	--fundo2: white;
	--azul1: #0063B1;
	--azul2: #EDF7FF;
	--laranja: #F7630C;
	--cinza: #777;
	--cinza1: #eee;
	--texto: inherit;
	--shadow: rgba(100, 100, 100, 0.3);

	/* medidas */
	--indent: 1.2rem;
	--botao-left: 25px;
	--menu-width: min(100vw, 490px);

	/* fontes */
	--fonte: "Segoe UI Variable Text","Segoe UI", "Noto Sans", sans;
}

@media screen and (prefers-color-scheme: dark) {
	:root{
		--fundo1: #303032;
		--fundo2: #474749;
		--azul1: #2F99EC;
		--azul2: #2F353A;
		--laranja: #FF9759;
		--cinza: #aaa;
		--cinza1: #575757;
		--texto: #e6e6e6;
		--shadow: rgba(15, 15, 15, 0.65);
	}
}

/* % REGRAS GERAIS */
* {box-sizing: border-box;}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--fundo1);
	font-family: var(--fonte);
}

a {
	text-decoration: none;
	color: inherit;
}

del {
	font-style: italic;
	display: none;
    color: var(--cinza);
}

p, li, input {
	text-align: justify;
	font-size: 1.2rem;
	line-height: 150%;
    color: var(--texto)
}

p {
	text-indent: var(--indent);
}

td, label, input {
    color: var(--texto);
}

h1, h2, h3, h4, h5, h6 {
	text-align:center;
}

h1 {
	font-size:2.2rem;
	font-weight: 600;
	color: var(--laranja);
}

h2 {
	font-size:2rem;
	font-weight: 600;
	color: var(--azul1);
}

h3 {
	font-size:1.8rem;
	font-weight: normal;
	color: var(--laranja);
}

h4 {
	font-size:1.6rem;
	font-weight: normal;
	color: var(--azul1);
}

h5 {
	font-size:1.5rem;
	font-weight: normal;
	color: var(--laranja);
}

h6 {
	font-size:1.4rem;
	font-weight: normal;
	color: var(--azul1);
}

ul {
	margin-left: 40px;
	line-height: 150%;
}

mark {
	background: none;
	color: inherit;
}

/* % REGRAS ESPECIAIS */

#corpo a:hover {
	border-bottom: 1px dotted;
}

.alinea {
	padding-left: calc(2.5*var(--indent));
	text-indent: 0;
}

.item {
	padding-left: calc(4*var(--indent));
	text-indent: -2ch;
}

.artigo {
	font-size: 1.6em;
	font-weight: bold;
    color: var(--azul1);
}

.paragrafo {
	font-weight: bold;
    color: var(--laranja);
}

ul.dica{
	margin-left: var(--indent);
	line-height: 1;
}

ul.dica li {
	font-size: 1rem;
	color: var(--cinza);
	margin-bottom: 5px;
}

#adct {
	margin-top: 5em;
}

#copy {
	display: none;
}


/* % ESTRUTURA */
/* Estrutura base */

#corpo {
	background-color: var(--fundo2);
	margin: 50px auto;
	padding: 40px 10vw 80px;
	width: 95vw;
	border: var(--cinza);
	border-radius: 20px;
}

nav#links {
	margin: 2rem 0;
	padding: .3rem;
	background-color: var(--cinza1);
	border-radius: 1rem;
	width: min(75%, 450px);
}

nav#links:before {
	content: "Links";
	position: relative;
	font-variant: small-caps;
	color: var(--azul1);
	font-size: 1.5rem;
	padding-left: 1rem;
	font-weight: 600;
}

nav#links ul {
	margin-left: 0;
}

nav#links li {
	text-align: left;
}

#ementa {
	font-style: italic;
	margin-left: 60%;
	text-indent: 0;
	line-height: 125%;
	-webkit-hyphens: auto;
	hyphens: auto;
}

#subtit {
	text-align: center;
	font-weight: 600;
	text-indent: 0;
	text-transform: uppercase;
	color: var(--laranja);
}

#titulo {
	text-align: center;
	font-size: 4.2rem;
	font-weight: 400;
	text-indent: 0;
	line-height: 120%;
	margin-bottom: 3rem;
	color: var(--azul1);
}

#titulo:before {
	content: url(../imgs/brastra.png);
	display: block;
	margin: 0 auto;
}

#titulo2{
	text-align: center;
	text-indent: 0;
	line-height: 120%;
	margin-block: 3rem;
	color: var(--azul1);
	font-weight: 400;
	font-size: 2rem;
	text-transform: uppercase;
}

#cont-sum h2 {
	text-align: left;
	margin-bottom: .3em;
}

#cont-sum ul {
	margin: 0;
	padding: 0;
}

#cont-sum li {
	list-style: none;
	margin-left: 0;
}

#sumario ul, li {
	margin-left: 0;
}

#assinaturas {
	text-align: center;
	text-indent: 0pt; 
	margin-top: 5rem;
}

/* Outras estrutuas */

blockquote {
    font-style: italic;
	margin-left: 5rem;
	margin-right: 0;
	padding: 10px;
	padding-left: 15px;
	border-left: 3px solid var(--azul1);
	background-color:var(--azul2);
}

blockquote p {
	text-indent: 0;
	line-height: 110%;
	font-size: 1rem;
	margin-bottom: 0.3rem;
	margin-top: 0;
    color: var(--cinza);
}

/* % Paineis laterais */

.material-symbols-outlined {
	color: var(--cinza);
	cursor: pointer;
	background-color: var(--fundo2);
	padding: 5px;
	border-radius: 50%;
	box-shadow: 1px 1px 15px rgba(0,0,0,0.15);
}

/* % MEDIA QUERIES */

@media only screen and (width > 900px) {
	:root {
		--botao-left: min(4vw, 120px);
	}

	 #corpo {
		margin: 50px auto 150px;
		width: min(1200px, 85vw);
		padding: 40px 120px 100px;
		animation: entrada1 1s ease-in-out;
	} 
	
	#corpo:after {
		content: "@ Renan Santos. 2020.";
		position: fixed;
		right: -4vw;
		bottom: 12vh;
		color: var(--cinza);
		transform: rotate(-90deg);
	}

	.material-symbols-outlined {
		background-color: unset;
		padding: 0;
		border-radius: 0;
		box-shadow: none;
	}
}