/* % ANIMAÇÕES */
@keyframes entrada1 {
  from {top: 800px; opacity: 0;}
  to {top: 15px; opacity: 1;}
}

@keyframes entrada2 {
	from {top: -80px;}
	to {top: 15px;}
}

/* % VARIÁVEIS */

:root{
	/* cores */
	--fundo1: #f2f2f2;
	--fundo2: white;
	--azul1: #0063B1;
	--azul2: #EDF7FF;
	--laranja: #F7630C;
	--cinza: #777;
	--cinza1: #eee;
	--texto: inherit;

	/* medidas */
	--indent: 1.2rem;
	--botao-left: 25px;
	--menu-width: min(100vw, 490px);
}

@media screen and (prefers-color-scheme: dark) {
	:root{
		--fundo1: #303032;
		--fundo2: #474749;
		--azul1: #2F99EC;
		--azul2: #2F353A;
		--laranja: #FF9759;
		--cinza: #aaa;
		--cinza1: #575757;
		--texto: #fafafa;
	}
}

/* % REGRAS GERAIS */
* {box-sizing: border-box;}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--fundo1);
	font-family: "Segoe UI Variable Text","Segoe UI", "Noto Sans", sans;
}

a {
	text-decoration: none;
	color: inherit;
}

del {
	font-style: italic;
	display: none;
    color: var(--cinza);
}

p, li, input {
	text-align: justify;
	font-size: 1.2rem;
	line-height: 150%;
    color: var(--texto)
}

p {
	text-indent: var(--indent);
}

td, label, input {
    color: var(--texto);
}

h1, h2, h3, h4, h5, h6 {
	text-align:center;
}

h1 {
	font-size:2.2rem;
	font-weight: 600;
	color: var(--laranja);
}

h2 {
	font-size:2rem;
	font-weight: 600;
	color: var(--azul1);
}

h3 {
	font-size:1.8rem;
	font-weight: normal;
	color: var(--laranja);
}

h4 {
	font-size:1.6rem;
	font-weight: normal;
	color: var(--azul1);
}

h5 {
	font-size:1.5rem;
	font-weight: normal;
	color: var(--laranja);
}

h6 {
	font-size:1.4rem;
	font-weight: normal;
	color: var(--azul1);
}

ul {
	margin-left: 40px;
	line-height: 150%;
}

/* % REGRAS ESPECIAIS */

#corpo a:hover {
	border-bottom: 1px dotted;
}

.alinea {
	padding-left: 4rem;
	text-indent: 0;
}

.item {
	padding-left: 4rem;
	text-indent: 0;
}
 
.artigo {
	font-size: 1.6em;
	font-weight: bold;
    color: var(--azul1);
}

.paragrafo {
	font-weight: bold;
    color: var(--laranja);
}

ul.dica{
	margin-left: var(--indent);
	line-height: 1;
}

ul.dica li {
	font-size: 13pt;
	color: var(--cinza);
	margin-bottom: 5px;
}

#adct {
	margin-top: 5em;
}

#copy {
	display: none;
}


/* % ESTRUTURA */
/* ? Estrutura base */

#corpo {
	background-color: var(--fundo2);
	margin: 50px auto;
	padding: 40px 10vw 80px;
	width: min(1200px, 95vw);
	border: var(--cinza);
	border-radius: 20px;
}

nav#links {
	margin: 2rem 0;
	padding: .3rem;
	background-color: var(--cinza1);
	border-radius: 1rem;
	width: 500px;
	max-width: 35vw;
}

nav#links:before {
	content: "Links";
	position: relative;
	font-variant: small-caps;
	color: var(--azul1);
	font-size: 1.5rem;
	padding-left: 1rem;
	font-weight: 600;
}

nav#links ul {
	margin-left: 0;
}

nav#links li {
	text-align: left;
}

#ementa {
	font-style: italic;
	margin-left: 60%;
	text-indent: 0;
	line-height: 125%;
	-webkit-hyphens: auto;
	hyphens: auto;
}

#subtit {
	text-align: center;
	font-weight: 600;
	text-indent: 0;
	text-transform: uppercase;
	color: var(--laranja);
}

#titulo {
	text-align: center;
	font-size: 4.2rem;
	font-weight: 400;
	text-indent: 0;
	line-height: 120%;
	margin-bottom: 3rem;
	color: var(--azul1);
}

#titulo:before {
	content: url(../imgs/brastra.png);
	display: block;
	margin: 0 auto;
}

#cont-sum h2 {
	text-align: left;
	margin-bottom: .3em;
}

#cont-sum ul {
	margin: 0;
	padding: 0;
}

#cont-sum li {
	list-style: none;
	margin-left: 0;
}

#sumario ul, li {
	margin-left: 0;
}

#assinaturas {
	text-align: center;
	text-indent: 0pt; 
	margin-top: 5rem;
}

/* ? Outras estrutuas */

blockquote {
    font-style: italic;
	margin-left: 5rem;
	margin-right: 0;
	padding: 10px;
	padding-left: 15px;
	border-left: 3px solid var(--azul1);
	background-color:var(--azul2);
}

blockquote p {
	text-indent: 0;
	line-height: 110%;
	font-size: 1rem;
	margin-bottom: 0.3rem;
	margin-top: 0;
    color: var(--cinza);
}

/* ? Tabela */

table {
	border: 1px solid var(--azul1);
    border-collapse: collapse;
	margin: 15px auto;
    width: 100%;
}

p.legtab {
	text-align: center;
}

table caption {
	color:white;
	font-size: 15pt;
	font-weight: bold;
	text-transform: uppercase;
	background-color: var(--azul1);
	border: 0px solid var(--azul1);
	text-align: center;
	padding: 5px 0px;
}

table td, th {
	padding: 7px;
	text-align: center;
	font-size: 13pt;
	vertical-align: center;
	text-align: justify;
}

td.cabtab, th {
	font-weight: bold;
	padding-top: 25px;
	vertical-align: bottom;
    color: var(--texto);
    background-color: var(--azul1);
}

/* ? Paineis laterais */

.material-symbols-outlined {
	color: var(--cinza);
	cursor: pointer;
	background-color: var(--fundo2);
	padding: 5px;
	border-radius: 50%;
	box-shadow: 1px 1px 15px rgba(0,0,0,0.15);
}

#botao-menu-abrir {
	font-size: 3rem;
	position: fixed;
	top: 50px;
	left: var(--botao-left);
}

#botao-pesquisa-abrir {
	font-size: 3rem;
	position: fixed;
	top: 120px;
	left: var(--botao-left);
}

.menu-fechar {
	font-size: 2rem;
	position: absolute;
	right: 15px;
	top: 15px;
}

nav#menu {
	display: block;
	background-color: var(--fundo2);
	position: fixed;
	top: 0px;
	width: var(--menu-width);
	height:100vh;
	left: -500px;
	transition: all 0.5s ease;
	box-shadow: 0px 0px 50px rgba(0,0,0,0.3);
	z-index: 1;
	overflow-y: auto;
	overflow-x: hidden;
}

nav#menu ul {
	margin-left: -25px;
	padding-right: 5px;
	list-style: none;
}

nav#menu li {
	margin-left: -20px;
	margin-right: -10px;
	padding: 8px 20px 8px 30px;
	text-align: left;
	font-size: 1rem;
}

nav#menu h2 {
	text-align: left;
	margin: 0px 0px 1.5rem;
	padding: 40px 0 0 20px;
}

#procura-artigo {
	display: none;
}

#procura-artigo {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 35px;
	padding: 0 2rem;
	background-color: var(--fundo2);
	position: fixed;
	top: 0;
	width: var(--menu-width);
	max-width: 400px;
	height: 100vh;
	left: -500px;
	transition: all 0.5s ease;
	box-shadow: 0px 0px 50px rgba(0,0,0,0.3);
	z-index: 1;
	overflow-y: auto;
	overflow-x: hidden;
}

#procura-artigo h2 {
	margin-bottom: 0;
}

#label-numero {
	grid-row: 1;
	grid-column: 1/3;
	font-size: .9rem;
	margin-bottom: -10px;
}

#numero-artigo {
	grid-row:2;
	grid-column: 1;
	background: none;
	outline: none;
	border: 1px solid var(--cinza);
	border-radius: 8px;
	padding: .5rem;
	width: 150px;
}

#botao-artigo {
	background-color: var(--azul1);
	border: none;
	border-radius: 12px;
	padding: .5rem .8rem;
	color: white;
	cursor: pointer;
}

#botao-artigo:disabled {
	filter: opacity(0.5);
}

.linha-horizontal {
	background-color: var(--cinza);
	height: 1px;
	width: 100%;
}

#resultados-pesquisa {
	display: flex;
	flex-wrap: wrap;
	gap: 25px;
	margin-top: 25px;
}

.resultado-pesquisa {
	border: 1px solid var(--cinza);
	padding: 1rem;
	border-radius: 18px;
}


/* % MEDIA QUERIES */

@media only screen and (width > 900px) {
	:root {
		--botao-left: 10vw;
	}

	 #corpo {
		margin: 50px auto 150px;
		padding: 40px 120px 100px;
		animation: entrada1 1s ease-in-out;
	} 
	
	#corpo:after {
		content: "@ Renan Santos. 2020.";
		position: fixed;
		right: -4vw;
		bottom: 12vh;
		color: var(--cinza);
		transform: rotate(-90deg);
	}

	.material-symbols-outlined {
		background-color: unset;
		padding: 0;
		border-radius: 0;
		box-shadow: none;
	}
}