.rodape {
	position: fixed;
	bottom: 50px;
	left: min(calc(85vw + 15px), calc(50vw + 625px));
	color: var(--cinza);
	display: flex;
	flex-flow: column-reverse nowrap;
	gap: 10px;
	font-size: 0.9rem;
}