:root {
  --texto: unset;
  --azul: #0063B1;
  --fundo1: #f6f6f6;
  --fundo2: rgba(255,255,255,0.6);
  --fundo3: white;
  --bg:url("../imgs/lightbg.jpg");
  --shadow: 1px 1px 25px rgba(100,100,100,0.3);
}

/* MODO DARK */
@media screen and (prefers-color-scheme: dark) {
  :root{
  --texto: #fafafa;
  --azul: #6ABCFD;
  --fundo1: #2a2a2a;
  --fundo2: rgba(56,56,61,0.5);
  --fundo3: rgba(56,56,61,1);
  --bg: url("../imgs/darkbg.jpg");
  --shadow: 0px 0px 25px rgba(15, 15, 15, 0.65);
  }
}

body {
  background-color: var(--fundo1);
  background-image: var(--bg);
  color: var(--texto);
}

#copyright {color: #999}


/*AZUL*/

h1, h2, a:hover, li:hover {color: var(--azul)}

/* CINZA */

article, #list-fav div {
  background-color: var(--fundo2);
  backdrop-filter: blur(8px);
}

article:hover, #list-fav div:hover {
  background-color: var(--fundo3);
  box-shadow: var(--shadow);
}