.home {
	width: var(--home-width);
	margin-inline: auto;
	/* border: 1px solid goldenrod; */
}

header {
	padding: 50px 0;

	h1 {
		font-weight: 400;
		font-size: 3em;
		color: var(--primary1);
		text-align: center;
	}
}

.body {
	display: flex;
	flex-flow: column wrap;
	height: 110rem;
	width: var(--home-width);
	column-gap: var(--gap);
	row-gap: var(--gap);
	margin-bottom: 50px;
}

@media only screen and (width <= 1200px) {
	.body {
		height: 115rem;
	}
}

@media only screen and (width <= 700px) {
	.body {
		height: unset;
	}
}
