.item {
    display: flex;
    gap: .5rem;
    line-height: 1.37;
	margin-bottom: 0.8em;
}

.btFavorito {
    background: transparent;
    width: 1em;
    height: 1em;
    opacity: 0;
    transition: all .6s ease-in-out;
}

.item:hover .btFavorito{
    opacity: 1;
}