/* ! mobile first */

.body {
	background-color: var(--bg2);
	margin: 0;
	padding: 115px 8vw 80px;
	width: 100vw;
	border: var(--gray);
	border-radius: 8px;

	/* prettier-ignore */
	p, li {
		text-align: justify;
		font-size: 1.2rem;
		line-height: 1.5;
		color: var(--text);
		margin-bottom: 1rem;
	}

	a:hover {
		border-bottom: 1px dotted;
	}

	p {
		text-indent: var(--indent);
	}

	ul {
		padding-left: 1.5rem;
	}

	/* prettier-ignore */
	td, label, input {
		color: var(--text);
	}

	/* prettier-ignore */
	h1, h2, h3, h4, h5, h6 {
		text-align: center;
		margin-bottom: 1em;
	}

	h1 {
		font-weight: 600;
		color: var(--secondary);
		margin-block: 1em;
	}

	h2 {
		font-size: 2rem;
		font-weight: 600;
		color: var(--primary1);
	}

	h3 {
		font-size: 1.8rem;
		font-weight: normal;
		color: var(--secondary);
	}

	h4 {
		font-size: 1.6rem;
		font-weight: normal;
		color: var(--primary1);
	}

	h5 {
		font-size: 1.5rem;
		font-weight: normal;
		color: var(--secondary);
	}

	h6 {
		font-size: 1.4rem;
		font-weight: normal;
		color: var(--primary1);
	}

	ul {
		margin-left: 40px;
		line-height: 150%;
	}

	mark {
		background: none;
		color: inherit;
	}

	blockquote {
		font-style: italic;
		margin-block: 1rem;
		margin-inline: 5rem 0;
		padding: 10px;
		padding-left: 15px;
		border-left: 3px solid var(--primary1);
		background-color: var(--primary2);

		p {
			text-indent: 0;
			line-height: 110%;
			font-size: 1rem;
			margin-bottom: 0.3rem;
			margin-top: 0;
			color: var(--gray);
		}
	}

	.title {
		text-align: center;
		font-size: 3rem;
		font-weight: 400;
		text-indent: 0;
		line-height: 120%;
		margin-bottom: 3rem;
		color: var(--primary1);

		&::before {
			content: url('@/assets/img/brastra-menor.png');
			display: block;
			margin: 0 auto;
		}
	}

	.title.piaui::before {
		content: url('@/assets/img/piaui-menor.png');
	}

	/* prettier-ignore */
	#subtit, .subtit, :global(.subtit) {
		text-align: center;
		font-weight: 600;
		text-indent: 0;
		text-transform: uppercase;
		color: var(--secondary);
	}

	/* prettier-ignore */
	#abstract, .abstract, :global(.abstract) {
		font-style: italic;
		margin-left: 60%;
		margin-block: 1em;
		text-indent: 0;
		line-height: 125%;
		-webkit-hyphens: auto;
		hyphens: auto;
	}

	:global(.alinea) {
		padding-left: calc(2.5 * var(--indent));
		text-indent: 0;
	}

	:global(.item) {
		padding-left: calc(4 * var(--indent));
		text-indent: -2ch;
	}

	:global(.artigo) {
		font-size: 1.6em;
		font-weight: bold;
		color: var(--primary1);
	}

	:global(.paragrafo) {
		font-weight: bold;
		color: var(--secondary);
	}

	:global(.dica) {
		margin-left: var(--indent);
		margin-block: 1rem;
		line-height: 1;

		li {
			font-size: 1rem;
			color: var(--gray);
			margin-bottom: 5px;
		}
	}

	:global(.adct) {
		margin-top: 5em;
	}

	:global(.copy) {
		display: none;
	}

	:global(.links) {
		margin-block: 2rem;
		padding: 1rem;
		background-color: var(--gray1);
		border-radius: 1rem;
		width: min(75%, 500px);

		ul {
			margin-left: 1rem;
		}

		li {
			text-align: left;
			margin-bottom: 0;
			margin-top: 0.25rem;
		}

		&:before {
			content: 'Links';
			position: relative;
			font-variant: small-caps;
			color: var(--primary1);
			font-size: 1.5rem;
			padding-left: 1rem;
			font-weight: 600;
		}
	}

	.subtit, :global(.subtit) {
		text-align: center;
		font-weight: 600;
		text-indent: 0;
		text-transform: uppercase;
		color: var(--secondary);
	}

	:global(.titulo2) {
		text-align: center;
		text-indent: 0;
		line-height: 120%;
		margin-block: 3rem;
		color: var(--primary1);
		font-weight: 400;
		font-size: 2rem;
		text-transform: uppercase;
	}

	:global(.cont-sum) h2 {
		text-align: left;
		margin-bottom: 0.3em;
	}

	:global(.cont-sum) ul {
		margin: 0;
		padding: 0;
	}

	:global(.cont-sum) li {
		list-style: none;
		margin-left: 0;
	}

	:global(.sumario) ul,
	:global(.sumario) li {
		margin-left: 0;
	}

	:global(.assinaturas) {
		text-align: center;
		text-indent: 0pt;
		margin-top: 5rem;
	}
}

@media (width >= 700px) {
	.body {
		margin: 50px auto 150px;
		width: min(1200px, 85vw);
		padding: 80px 120px 100px;
		box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);

		&:after {
			content: '@ Renan Santos. 2020.';
			position: fixed;
			right: -4vw;
			bottom: 12vh;
			color: var(--gray);
			transform: rotate(-90deg);
		}
	
		.title {
			font-size: 4.2rem;
	
			&::before {
				content: url('@/assets/img/brastra.png');
			}
		}

		.title.piaui::before {
			content: url('@/assets/img/piaui.png');
		}
	}
}
